/*

Color Standardization
Background      : #2C2C2C
Sub background  : #1C1C1C rgb(44, 44, 44)
Normal Font     : rgba(255, 255, 255, 0.8)
Hovered font    : white
Yellow          : #FCCE22 rgb(252, 206, 34)

Font family standardization
Contents        : Urbanist
Header          : Kanit

*/

@charset "utf-8";

@font-face {
    font-family: Kanit;
    src: url(/fonts/Kanit/Kanit-Regular.ttf);
}

@font-face {
    font-family: Homenaje;
    src: url(/fonts/Homenaje/Homenaje-Regular.ttf);
}

@font-face {
    font-family: Urbanist;
    src: url(/fonts/Urbanist/static/Urbanist-Thin.ttf);
}

@font-face {
    font-family: Urbanist-bold;
    src: url(/fonts/Urbanist/static/Urbanist-Bold.ttf);
}

@font-face {
    font-family: Faster_one;
    src: url(/fonts/Faster_One/FasterOne-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-family: Urbanist;

}

html {
    background-color: #1C1C1C;
}

body {
    margin: 0;
}

/* ----- Scale animation -------------------------------------------------- */

.scale {
    transition: 0.5s;
    scale: 1.0;
}

.scale:hover {
    transition: 0.5s;
    scale: 1.1;
}

/* ----- Content Styles -------------------------------------------------- */

main {
    padding-top: 46px;

    overflow: hidden;
}

main>h1 {
    text-align: center;
    color: white;
    font-size: 66px;
    font-weight: bold;
    font-family: Urbanist-bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 10px #1C1C1C;

    margin-top: 46px;
}

/* ----- Modifiers -------------------------------------------------- */

.mod-allwrap {
    width: calc(100% - (360px + 46px * 2));
    margin: 0 0 0 calc(360px + 46px * 2);
    padding-right: 46px;
}

.mod-all {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 35px;
    margin: 46px 0;
    border-radius: 23px;

    background-color: rgba(44, 44, 44, 0.5);
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
}

.mod-title h1 {
    color: white;
    font-family: Urbanist-bold;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 20px;
}

.mod-choice {
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.mod-choice p {
    opacity: 0.6;
    color: white;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 15px;
    margin-bottom: 35px;
}

.mod-desc {
    margin-left: 0;
}

.mod-desc p {
    color: white;
    font-size: 18px;
    padding-top: 35px;
}

.mod-wrap {
    display: flex;
    justify-content: flex-start;
    padding-top: 35px;
}

.mod-title,
.mod-choice,
.mod-wrap {
    margin-left: 0;
}

.mod-img img {
    width: 200px;
}

.mod-option {
    padding-left: 35px;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

.mod-option label {
    display: block;
}

.mod-option input[type="radio"] {
    margin-right: 10px;
}

label {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

input[type="radio"] {
    position: absolute;
    left: 0;
    top: 0;
    vertical-align: middle;
    cursor: pointer;
}

/* ----- Summary -------------------------------------------------- */

.summary-wrap {
    width: 100%;

}

.summary {
    width: 360px;
    min-height: 300px;
    position: fixed;
    z-index: 1;
    top: 218px;
    left: 46px;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0;
    padding: 35px;
    border-radius: 23px;
    background-color: rgba(44, 44, 44, 0.5);
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
}

.summary h2 {
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Urbanist-bold;
    font-weight: bold;
    font-size: 35px;
}

#selectedItems {
    padding: 10px 0;
}

#totalPrice {
    font-family: Kanit;
    font-size: 28px;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.addtocart-button {
    border: none;
    cursor: pointer;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: Kanit;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 1px;
    padding: 10px 10px;
    background-color: rgba(252, 206, 34, 1);
}
