@charset "utf-8";

@font-face {
    font-family:Kanit;
    src: url(/fonts/Kanit/Kanit-Regular.ttf);
}

@font-face {
    font-family:Homenaje;
    src: url(/fonts/Homenaje/Homenaje-Regular.ttf);
}

@font-face {
    font-family:Urbanist;
    src: url(/fonts/Urbanist/static/Urbanist-Thin.ttf);
}

body{
    background-color: #1c1c1c;
    color :rgba(255, 255, 255, 0.8);
}

.container{
    background-color:  lightgray;
    width: 550px;
    padding: 20px;
    margin-top: 150px;
    border-radius: 10%;
}

.title-top{
    text-align: center;
}

.title-top h3{
    font-size: 35px;
    margin-top: 30px;
    color: black;
    font-family: Urbanist, Strait, Impact, sans-serif;;
}

div > input{
    border-radius: 10px;
    border-style: none;
    height: 40px;
    width: 350px; 
    font-size: 20px;
    text-indent: 10px;
    color: #1c1c1c;
    font-weight: bold;
}

::-webkit-input-placeholder{
    font-size: 20px;
}

label{
    text-align: left;
    display: block;
    text-indent: 2%;
    color:#1c1c1c;
    margin-bottom: -10px;
    font-family: Urbanist, Strait, Impact, sans-serif;;
}

div.username{
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
}

div.password{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 70px;
    font-size: 20px;
}

p{
    display: inline-block;
    font-size: 18px;
    margin-right: 200px;
    margin-top: -10px;
    color: #1c1c1c;
    font-family: Urbanist, Strait, Impact, sans-serif;
}

div.forgotpassword > a{
    display: inline-block;
    font-size: 18px;
    margin-left: 220px;
    margin-top: -40px;
    color: #1c1c1c;
    text-decoration: underline;
    font-family: Urbanist, Strait, Impact, sans-serif;
}

.checkbox{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

form{
    text-align: center;
    display:inline-block;
    padding-left: 80px;
}

button{
    font-size: 25px;    
    display: inline-block;
    width: 200px;
    height: 80px;
    border: solid 2px black;
    border-radius: 20px;
    margin-top: 25px;
    background-color: #FCCE22;
    color: black;
    font-family: Urbanist, Strait, Impact, sans-serif;
}

button:hover{
    border:solid 2px black rgba(255, 255, 255, 0.8);
    background-color: #1c1c1c;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

button:active{
    border: solid 2px rgba(255, 255, 255, 0.8);
    background-color: #1c1c1c;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    scale: 0.9; 
}